# COVID-19 UPDATE IN NIGERIA USING PANDAS

In [2]:
import pandas as pd

**Update as at 4:05PM, Tuesday 24, 2020**

In [8]:
source = {'State': ['Lagos', 'FCT','Ogun', 'Oyo', 'Edo', 'Ekiti'] ,
          'Confirmed Cases':[29, 7, 3, 1, 1, 1, ],
          'Recovered': [2, 0, 0, 0, 0, 0],
         'Deaths': [0, 1, 0, 0, 0, 0]}

df = pd.DataFrame(source)

Update at 4:05PM, Tuesday 24, 2020

   State  Confirmed Cases  Recovered  Deaths
0  Lagos               29          2       0
1    FCT                7          0       1
2   Ogun                3          0       0
3    Oyo                1          0       0
4    Edo                1          0       0
5  Ekiti                1          0       0